@import "colors";

#randomInt {
  background-color: $main;
  background: $main;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

#sanityOutput {
  margin: 25px 0 0;
  text-align: center;
  font-weight: bold;
}